.selectInner {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.selectItems {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
}






